@charset "UTF-8";

// ==========================================================================
// Foundation
// ==========================================================================
@import "foundation/reset";
@import "foundation/variable";
@import "foundation/base";
@import "foundation/slick";

// ==========================================================================
// Layout
// ==========================================================================
@import "layout/header";
@import "layout/footer";

// ==========================================================================
// Object
// ==========================================================================

// Component
@import "object/component/component";