// お問い合わせボタンやホームへ戻るボタン
// ブログや卒業実績で表示される「ギター」「集客方法」「ポップス」などのタグ
// 下層ページの見出し部分やパンくずリスト
// 一覧ページのページネーション
// サイト内で2回以上使うパーツが該当

.c-green-btn {
    display: block;
    width: 29rem;
    height: 5.5rem;
    background-color: $color-accent;
    border: 1px solid $color-accent;
    color: $color-white;
    text-align: center;
    @include pc {
        width: 53.5rem;
        height: 10rem;
    }

    p {
        font-size: 1.5rem;
        @include pc {
            font-size: 3rem;
        }
    }

    @include transition;
    &:hover {
        background-color: $color-white;
        color: $color-accent;
    }
}

.c-flex-arrow {
    display:inline-flex; 
    align-items:center; 
    justify-content:center;
    gap: 1rem;
    font-weight: 400;
}

.c-btn-arrow:hover{ filter:brightness(1.05); }
.c-btn-arrow-arrow{
    width:15px; 
    height:15px;
    transition:transform .2s ease;
    @include pc {
        width: 3rem;
        height: 3rem;
    }
}
.c-btn-arrow:hover .c-btn-arrow-arrow{
    transform:translateX(4px); /* 右に4px動かす */
}

// cta------------------------------------
.c-cta {
    display: flex;
    flex-direction: column;
    @include pc {
        flex-direction: row;
    }
}

.c-cta__item {
    text-align: center;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10.6rem;
    @include pc {
        height: 20rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        @include pc {
            gap: 2.5rem;
        }
    }

    p {
        font-size: 1.5rem;
        @include pc {
            font-size: 3rem;
        }
    }
}

.c-cta__item-icon {
    width: 2rem;
    height: 2rem;
    @include pc {
        width: 4.5rem;
        height: 4.5rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.c-cta__reserve {
    background-color: $color-accent;
}

.c-cta__contact {
    background-color: $color-gray;
}

// fixed-btn------------------------------------
#container {
    position: relative;
}

.fixed-btn {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    
}

.c-fixed__btn {
    width: 5rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
    @include pc {
        width: 10.7rem;
        height: 26rem;
    }
    p {
        writing-mode: vertical-rl;
        text-orientation: mixed;  
        font-size: 1.0rem;
        line-height: 1;
        @include pc {
            font-size: 1.8rem;
        }
    }
}

.c-fixed__btn-reserve {
    background-color: $color-gray-light;
}

.c-fixed__btn-contact {
    background-color: $color-gray-dark;
}

.c-fixed__btn-icon {
    width: 1.6rem;
    height: 1.6rem;
    @include pc {
        width: 3.5rem;
        height: 3.5rem;
    }
}