// お問い合わせボタンやホームへ戻るボタン
// ブログや卒業実績で表示される「ギター」「集客方法」「ポップス」などのタグ
// 下層ページの見出し部分やパンくずリスト
// 一覧ページのページネーション
// サイト内で2回以上使うパーツが該当

.c-btn {
    border: 0.1rem solid $color-main;
    color: $color-white;
    background-color: $color-main;
    @include transition;
 
}

.c-bg-red {
    background-color: $color-main;
    color: $color-white;
}

.c-bg-black {
    background-color: $color-black;
    color: $color-white;
}

.c-font-red {
    color: $color-main;
}

.c-radius-red {
    &::before {
        content: '';
        width: 2rem;
        height: 2rem;
        background-color: $color-main;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
    }
}

.c-text-center {
    text-align: center;
}

// ビュー
.c-view {
    position: relative;

    &-image {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(80, 80, 80, 0.5);

        &::before {  
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(80, 80, 80, 0.5);  // オーバーレイ色
            mix-blend-mode: multiply;  // 乗算モード
            z-index: 1;
        }

        img {
            object-fit: cover;
            // @include sp {
            //     aspect-ratio: 37.5 / 30;
            // }
        }
    }

    &-text {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @include text-style(2.5rem, calc(60/25));
        color: $color-white;
    }
}

// パンクズ
.c-band {
    width: 100%;
    background-color: $color-band;
    height: 5rem;
    display: flex;
    align-items: center;

    @include sp {
        height: 3.6rem;
        overflow-x: auto;
    }

    &-text {
        @include text-style(1.6rem, calc(33/16));
        line-height: 1.5;
        font-weight: 500;
        color: $color-text;
        height: inherit;
        display: flex;
        align-items: center;
        
        @include pc {
            overflow: hidden;
        }

        @include sp {
            line-height: 1.3;
            white-space: nowrap;
            flex-shrink: 0;
            min-width: max-content;
        }
        
        a {
            display: inline-flex;
            align-items: center;
            height: inherit;
        }

    }

    .inner {
        height: inherit;
        display: flex;
        align-items: center;
        width: 94rem;
        max-width: 94rem;
        margin: 0 auto;
        padding-inline: 3rem;
        overflow-x: auto;
        
        @include sp {
            padding-inline: 0;
            margin: 0 2rem;
        }
    }

}

.c-blog__card {
    position: relative;
    &-btn {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.c-blog-side__title {
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include sp {
        width: 100%;
    }

    h2 {
        @include text-style(1.8rem, calc(33/18));
    }
}

// before&after
.c-main__article-before-after{
    display: flex;
}

.c-before-after__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 1;
    @include transition;

    &:hover {
        @include hover-opacity;
    }
}

.c-before-after__title {
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    p{
        @include text-style(1.7rem, calc(30/17));
        font-weight: 500;
    }
}

.c-before-after__item {
    display: flex;
    gap: 1.6rem;

    &-image {
        width: 9.8rem;
        aspect-ratio: 9.8 / 6.8;

        picture {
            display: block;
        }

        img {
        height: 100%;

            object-fit: cover;
        }
    }

    &-text {
        flex: 1;
        p {
            @include text-style(1.6rem, calc(25/16));
            display: -webkit-box;
            -webkit-line-clamp: 2; 
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @include sp {
                -webkit-line-clamp: 3;
            }
        }
    }
}

// before
.c-before-content {
    p{
        padding-left: 2rem;
        text-align: left;
    }
}

// after
.c-after-content {
    p{
        padding-right: 2rem;
        text-align: right;
    }
}

// pagination
.c-pagination {
    display: flex;
    justify-content: center;
    @include text-style(1.8rem, calc(30/18));
    
  
    &-list {
      display: flex;
      gap: 1rem;
      list-style: none;
      align-items: center;
      @include sp {
        gap: 0.5rem;
      }
    }
  
    &-item {
      a {
        display: block;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        border: 1px solid $color-text;
        text-decoration: none;
        transition: 0.3s;
        @include sp {
            width: 4.4rem;
            height: 4.4rem;
            line-height: 4.4rem;
        }
  
        &:hover {
          background-color: $color-text;
          color: $color-white;
          opacity: 1 !important; 
        }
      }
  
      &.is-current a {
        background-color: $color-text;
        color: $color-white;
        border-color: $color-text;
      }
    }
  
    &-dots {
      padding-inline: 1rem;
      @include sp {
        padding-inline: 0.6rem;
      }
    }
  }