// fv
.top__fv {
    width: 100%;
    aspect-ratio: 390/211
}

// concept
.top__concept {
    text-align: center;
    padding-top: 3.2rem;
    padding-bottom: 4.8rem;
    h1 {
        font-size: 1.8rem;
        color: $color-accent;
        margin-bottom: 1.8rem;
    }

    
}

.top__concept__grid {
    width: 29.2rem;
    margin: 4.3rem auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.top__concept__grid__item {
    width: 14.1rem;
    height: 14.1rem;
    border: 1px solid $color-accent;

    p {
        margin-top: 2.2rem;
    }
    
}

.top__concept__grid-item1 {
    .top__concept__grid__image {
        width: 8.7rem;
        margin-top: 0.4rem;
    }
}

.top__concept__grid-item2 {
    .top__concept__grid__image {
        width: 9.1rem;
        margin-top: 0.4rem;
    }
}

.top__concept__grid-item3 {
    .top__concept__grid__image {
        width: 7.6rem;
        margin-top: 1.2rem;
    }
}

.top__concept__grid-item4 {
    p {
        margin-top: 1.3rem;
    }

    .top__concept__grid__image {
        width: 7.3rem;
        margin-top: 1.2rem;
    }
}

.top__concept__grid__image {
    aspect-ratio: 1/1;
    margin: 0 auto;
}


.top__concept__p1{
    margin-top: 2.6rem;
}

.top__concept__flex {
    margin-top: 2.3rem;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}

.top__concept__flex__image {
    width: 6.2rem;
    aspect-ratio: 62/77;
}

.top__concept__btn {
    margin-top: 4.6rem;
}