// サイト内の共通設定------------------------------------

html {
    //375px~767px
    font-size: 62.5%;
    //768~1399px
    @media(min-width: 768px) and (max-width: 1399px){
      font-size: calc(10 / 1400 * 100vw);
    }
    //1400px~
    @media (min-width: 1400px) {
      font-size: 10px;
    }
    @media(max-width:390px) {
      font-size: calc(10 /390 * 100vw);
    }
}

body{
    font-weight: 400;
    color: $color-text;
    font-family: $font-family-base;
}

h1,h2,h3,h4,label,input,a,ul,li {
    display: block;
}

.header-padding{
    padding-top: 5rem;
    @include pc {
        padding-top: 8rem;
    }
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

p {
    font-size: 1.2rem;
    @include pc {
        font-size: 3rem;
    }
}

.inner {
    padding-inline: 1rem;
    margin: 0 auto;
    @include pc {
        padding-inline: 3rem;
        max-width: 140rem;

    }
}

a{
    @include transition;
}

@include pc{
    .pc_none{
        display: none;
    }
    .sp_none{
        display: block;
    }
}


@include sp{
    .sp_none{
        display: none;
    }
    .pc_none{
        display: block;
    }
}

//サイズ用関数------------------------------------
//$pixelsVw:サイズ
//$baseWidth:ベースとなる画面横幅

@function vw($pixelsVw, $baseWidth) {
    @return calc($pixelsVw / $baseWidth * 100vw);
  }

// 基本的なaタグの設定------------------------------------
a {
    text-decoration: none;
    @include transition;
}

// フォントサイズ
.fs-very-small {
    @include pc {
        font-size: 1.2rem !important;
    }
}
.fs-small {
    @include pc {
        font-size: 2rem !important;
    }
}

.fs-large {
    font-size: 1.5rem !important;
    @include pc {
        font-size: 4.5rem !important;
    }
}



//サイズ用関数------------------------------------
//$pixelsVw:サイズ
//$baseWidth:ベースとなる画面横幅
@function vw($pixelsVw, $baseWidth) {
    @return calc($pixelsVw / $baseWidth * 100vw);
}